.conditional-top-nav
	ul.navlist
		li.site-header-title
			a(href='', title='Mark D Rushton') MDR
		li
			a#bio-link.header-links(href='', title='Bio') Bio
		li
			a#contact-link.header-links(href='', title='Contact') Contact
		li
			a#follow-link.header-links(href='', title='Follow') Follow