extends layout

block content
	.static-bg-image
		img.main-banner-image(src='../images/markbanner1.jpg')

	#maincontent
		.row.section.active
			.col-md-8.column-content.col-md-offset-4.intro-content.full-window-height
				.content-box
					span
						h1  MARK D RUSHTON
					span ... let's build something amazing.
		.row.section
			.col-md-7.column-content.col-md-offset-5.bio-content.initially-hidden(style='display: none')
				.content-box
					.content-box-left.full-window-height
						.content-1
							.content-heading
								h2 About Me
							.content-text
								h3 Mark D Rushton
								span 
									h4 Software Developer & Project Manager from San Francisco
								p 
									| I live in the amazing city of San Francisco with my amazing wife Jamie and beautiful daughter Brinkley. When I'm not amateur filming or riding my bike, I really enjoy just chilling on the beach or catching a movie.
								p
									| After spending 5 years remodeling a house in Springfield Missouri (and I don't mean the white-bread form of the word "remodel" that includes painting and buying furniture, I'm talking about asbestos-plaster wall destruction reconstruction remodel), I've really enjoyed not working on a house and just enjoying everything the city has to offer.

						.content-2
							span.inner-image-box
							img(class="icon-image bike-image wow slideInLeft" src="../images/bike1_w.svg" alt="")
					.content-box-right.full-window-height
						.content-3
							span.inner-image-box
							img(class="icon-image plane-image wow slideInDown" src="../images/plane1_w.svg" alt="")
						.content-4
							span.inner-image-box
							img(class="icon-image film-image wow slideInRight" src="../images/filming1_w.svg" alt="")     
		.row.section
			.col-md-5.column-content.col-md-offset-6.skills-content.initially-hidden(style='display: none')
				.content-box
					img(class="icon-image escalator-image" src="../images/escalatoricon.svg" alt="")
					.content-heading.wow.fadeInDown
						h2 Experience
					.content-text
						p
							| I'm a project manager with over 15 years experience in software development. I've completed stints as a developer, manager, project manager, and ScrumMaster. Learning and solving problems are a few of my passions, and I pride myself on being an optimistic pragmatist. I'm somewhat agnostic when it comes to technologies, and don't mind mixing it up in areas that I am new to.
						p
							| And don't forget, if you're having trouble sleeping, be sure to check out my blog at 
							a(href='http://agileslug.com') agileslug.com
							.
						.row
							.col-xs-6
								img(class="cert-logos" src="../images/pmp_logo.png" alt="")
							.col-xs-6
								img(class="cert-logos" src="../images/csm_logo.png" alt="")
		.row.section
			.col-md-5.column-content.col-md-offset-6.contact-content.initially-hidden(style='display: none')
				.content-box
					.content-heading.wow.fadeInDown
						h2 Contact Me
					.content-text
						form#mdr-contact-form
							.form-group
								span.glyphicon.glyphicon-user  
								label.mdr-contact-form-label(for="mdr-name") Name
								input.form-control.input-md(oninvalid="setCustomValidity('I need to know who you are!')",  oninput="setCustomValidity('')", type="text", name="mdrname", placeholder="Lloyd Christmas", required)
							.form-group
								span.glyphicon.glyphicon-envelope  
								label.mdr-contact-form-label(for="mdr-email") Email
								input.form-control.input-md(type="email", name="mdremail", placeholder="lloyd@whoneedsaradio.biz", required, oninvalid="setCustomValidity('At least attempt to enter a valid email address.')",  oninput="setCustomValidity('')")
							.form-group
								span.glyphicon.glyphicon-pencil  
								label.mdr-contact-form-label(for="mdr-message") Message
								textarea.form-control.input-md(name="mdrmessage", rows="7", required, oninvalid="setCustomValidity('Come on, you have more to say than that!')",  oninput="setCustomValidity('')")
							.form-group
								input(type="hidden", name="name")
								input(type="hidden", name="username")
								input(type="hidden", name="email")
								input(type="hidden", name="address")
								input(type="hidden", name="message")
							.alert.alert-danger.form-alert
							.alert.alert-success.form-alert Thank you for sending your message!
							.col-md-6.col-md-offset-3
								button#contact-submit-button.btn.btn-default.btn-lg(type="submit") Submit
		.row.section.full-window-height
			.col-md-8.column-content.col-md-offset-4.outro-content.initially-hidden(style='display: none')
				.content-box
					span
						h1 MARK D RUSHTON
					span ... let's build something amazing, 
					span.wow.fadeIn(data-wow-duration="2.0s" data-wow-delay="0.5s") together.
				.content-text
					ul.sociallist
						li.wow.bounceIn(data-wow-delay="2.5s")
							a(href='http://www.linkedin.com/pub/mark-d-rushton/5/166/7a8/', title='LinkedIn')
								.large-circle.linkedin-button
									img(class="linkedin-button-image" src="../images/social/social.linkedin.svg" alt="")      
						li.wow.bounceIn(data-wow-delay="3.0s")
							a(href='http://github.com/rushtonmd', title='GitHub')
								.large-circle.github-button
									img(class="github-button-image" src="../images/social/social.github.svg" alt="")
						li.wow.bounceIn(data-wow-delay="3.5s")
							a(href='http://twitter.com/rushtonmd', title='Twitter')
								.large-circle.twitter-button
									img(class="twitter-button-image" src="../images/social/social.twitter.svg" alt="")     
						li.wow.bounceIn(data-wow-delay="4.0s")
							a(href='http://instagram.com/rushtonmd', title='Instagram')
								.large-circle.instagram-button
									img(class="instagram-button-image" src="../images/social/social.instagram.svg" alt="")
						li.wow.bounceIn(data-wow-delay="4.5s")
							a(href='http://youtube.com/rushtonmd', title='YouTube')
								.large-circle.youtube-button
									img(class="youtube-button-image" src="../images/social/social.youtube.svg" alt="")
						li.wow.bounceIn(data-wow-delay="5s")
							a(href="mailto:you@youraddress.com?subject=Mark, You're GREAT!", title='Email')
								.large-circle.email-button
									img(class="email-button-image" src="../images/social/social.email.svg" alt="")


	//- include footer

